*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 20px 0;
}

.container {
    background-color: black;
    color: yellow;
    font-size: 28px;

    width: 100%;
    height: 100vh;
    
    overflow: hidden;

    perspective: 250px;
    perspective-origin: bottom;
}

.content-borders {
    width: 600px;
    margin: 0 auto;

    animation-name: intro;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1, h2 {
    text-align: center;
}

@keyframes intro {
    0% {
        transform: rotateX(12deg) translate3d(0, 100vh, 0);
    }
    100% {
        transform: rotateX(12deg) translate3d(0, -300px, 0);
    }
}